@model ExternalLoginListViewModel

@functions {

}
@using Microsoft.Owin.Security
@using MvcApp.Controllers
@using MvcApp.Models
@using MvcApp.Views.Account

<h4>別のサービスを使用してログインしてください。</h4>
<hr />
@{
    var loginProviders = (List<AuthenticationDescription>) ViewData["LoginProviders"];
    if (!loginProviders.Any()) {
        <div>
            <p>
                構成済みの外部認証サービスはありません。外部サービス経由のログインをサポートするようにこの ASP.NET アプリケーションを設定する方法の
                詳細については、<a href="http://go.microsoft.com/fwlink/?LinkId=403804">こちらの記事</a>をご覧ください。
            </p>
        </div>
    }
    else {
        using (Html.AccountExternalLoginForm(Model.ReturnUrl)) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="@p.Caption アカウントを使用してログイン">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
